{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="media">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <img style = "width:40vw;height:40vw" src="{{ original_file_url }}"/>
    <img style = "width:40vw;height:40vw" src="{{ uploaded_file_url }}"/>

  {% endif %}
  {% if p_c == 0 %}
    <p>No object found,Manual tagging is recommended</p>

  {% endif %}
  {% if error %}
    <p>Only image type supported</p>

  {% endif %}

{% endblock %}
